<h1>New Icd10pcs defs</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.icd10pcs_defs_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.icd10pcs_defs_path(@conn, :index) %></span>
