<h1>Edit Icd10cm dindex</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.icd10cm_dindex_path(@conn, :update, @icd10cm_dindex)) %>

<span><%= link "Back", to: Routes.icd10cm_dindex_path(@conn, :index) %></span>
