<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Icd10cm · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
   <%= render_existing @view_module, "scripts.html", assigns %>
   <%= render_existing @view_module, "scripts." <> @view_template, assigns %>

  </head>
  <body class="bx--body">
    <header>
      <section class="container">
        <nav role="navigation">
        <%= render "navigation.html", conn: @conn %>
        </nav>
       
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>

   <footer class="footer">
     <div class="container">
 <div class="content has-text-centered">
   <span> <i class="fa fa-check">  By old J.G. (M.D)   &nbsp;&nbsp;</i>
 </div>
  </div>
</footer>

</html>
<script type="text/javascript">
  window.csrf_token = <%= raw Poison.encode!(Plug.CSRFProtection.get_csrf_token()) %>;
</script>