<h1>Edit Ndc package</h1>

<%#= render "form.html", Map.put(assigns, :action, Routes.ndc_package_path(@conn, :update, @ndc_package)) %>

<span><%#= link "Back", to: Routes.ndc_package_path(@conn, :index) %></span>
