$whiteAntiflash:        #f2f3f4 !default;
$grayTimberwolf:        #dbd7d2 !default;
$lightest-grey:#fafbfc;
$lighter-grey: #ebeff3;
$light-grey: #c9d3df;
$grey: #adb9c9;
$dark-grey: #8393a7;
$darker-grey: #53657d;
$darkest-grey: #26353f;


$white_smoke: #FFFFFF;
$white: #fff;
$blue: #0066FF;
$min_height: rem-calc(650);
$primary-color:#1779ba;
$secondary-color:#767676;
$primary: #1779ba;
$secondary: #767676;
$success: #3adb76;
$warnning: #ffae00;
$alert: #cc4b37;
$grayCadet: #91a3b0 !default;
$acc_blue:	#00386b ;
$acc_primary: 	#198dae;
$acc_secondary: #b3b3b3; 
$acc_tertiary:#7d5891 ; 
$acc_success:#1abc9c;
$acc_warning: #E08514;
$acc_error:	#c32231; 

$azure: hsl(180, 100%, 97%);


@mixin border_radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin box_shadow($left:0, $top:2px, $blur:2px, $color:#000, $inset:"inset") {
    -webkit-box-shadow:$left $top $blur $color #{$inset};
    -moz-box-shadow:$left $top $blur $color #{$inset};
    box-shadow:$left $top $blur $color #{$inset};
}
html, body {
    height: 100%;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family:"helvetica","Roboto",sans-serif;
    font-size:14px;
    line-height:1.5;
      
    font-kerning: normal; // Set the default for kerning
    font-synthesis: none; // Don't allow the font to create sythetic bold/italic
    text-rendering: optimizeLegibility; // Improve kerning pairs. Caution: Webkit gets funny with this sometimes
    background-color:#efefef;//#f0f0f0
  
  
    //background-image: url("/images/clear-bg4.png");
   }


//////////////zurb settings///////////////
//$table-head-background:#000;//
//$table-foot-font-color:#fff;
//$table-border-style: solid;
//$table-border-size: 12px;
//$table-border-color: #000;

//////////////////////////////



    
.content {
        background: rgba(255, 255, 255, 0.8);
        padding: rem-calc(30);
    
    }
 
    
    $hero-height: 60vh;

    .hero-section {
     // background: url('https://static.pexels.com/photos/248064/pexels-photo-248064.jpeg') 50% no-repeat;
      background-size: cover;
      height: $hero-height;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    
      .hero-section-text {
        color: $white;
        text-shadow: 1px 1px 2px $black;
      }
    }
    
    .table {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        padding:.2em .4em;
        font-size: rem-calc(18);
        line-height:rem_calc(19);
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
       // font-family:"helvetica","Roboto",sans-serif;
        border: 1px solid $grayCadet;
        border-collapse: collapse;
        
    }
     
td {
     border: 1px solid $grayTimberwolf;
    }
      
      .p {
        text-align: center;
        padding-top: 140px;
        font-size: 14px;
      }

.tooltip{
    font-size: rem-calc(20);
    line-height:rem_calc(22);
}

.label{
    font-size: rem-calc(18);
    line-height:rem_calc(20);

}
.footer {
    
    color: $white_smoke;
    background-color:#91a3b0;
    @include border-radius(17px);
    @include box-shadow(#ddd 3px 6px 6px 1px);

    text-align: center;
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
    font-size: rem-calc(18);
}
.element_info {
    background-color:#C6CFF6 ;// #AFC3D2;//#936ED4; //#fc9272;//#fee0d2;//#CCCCFF;//$beige-lighter;//$turquoiseBrighter; //$yellowBrighter;//$white_smoke; // #ddd ;//#006699;//#7CBB00;//#7f78d2;//#0074D9;//#3D9970;//#1F7A1F;//#990033;
    color: $blue;
    box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8),
      inset 0 0.063em rgba(255, 255, 255, 0.4),
      inset 0 -0.188em rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-shadow: 0 0.063em #000;
    font: bold 1.1rem sans-serif;
    padding: 7px;
    text-align: center;
    width: 95%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: rem-calc(25);
    margin-top: rem-calc(25);
  
  }
 

  .top-bar{
    background-color: $grayCadet;
    width: 95%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: rem-calc(25);
    margin-top: rem-calc(25);
  }
  
.top-bar-section li a:not(.button)
{
background: "#740707";
}


.search_form {
  //background-color:#91a3b0 ;//#FFFF66;//$orangered;//#000 ;
  background-color:#46b5d1;//#70B8FF;//#86c9ef ;// $orangered;//#000 ;
  color:#fff;
  padding: 10px 8px 10px 8px;
  border-radius: rem-calc(12);
  margin-bottom: rem-calc(10);
  margin-top: 17px;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8),
    inset 0 0.063em rgba(255, 255, 255, 0.4),
    inset 0 -0.188em rgba(0, 0, 0, 0.15);
}
.title_form {
  //border-left: 2.5rem outset #7b3294;//#ff0090;//darkblue;//$danger;
  //border-right: 1.5rem outset #990000;//#7b3294;//#ff0090;//darkblue;//$danger;
  background-color:  #e0e0e0 ;//#ccccff; //#FFFFCC;//#ddd;//"yellow" ;
  border-radius: 12px;
  font: bold italic 1rem sans-serif;
  padding: 7px 5px 7px 5px;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8),
    inset 0 0.063em rgba(255, 255, 255, 0.4),
    inset 0 -0.188em rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  margin-top: 17px;
  text-align:center;

}
