
<% alias Icd10cm.Codes %>
<% alias Icd10cm.Repo %>


<div class="title_form">
<h5>Show ICD-10-CM GRAPHICAL </h5>
</div>
<p/>
 <div style="background-color:#dde;" class= "large-12 columns" 
 id="icd10cm_tree_draw_button">
 </div>

<p/>

 <div  style="background-color:#eee;" class="large-12 columns"
  id="icd10cm_tree_draw_area" >
  </div>



 
